.DS_Store
node_modules
https
*.js.map
dist
.secret_config.json

target

# Gradle
build
.gradle
gradlew
gradlew.bat
gradle/wrapper

# Eclipse, etc.
.project
.classpath
.settings
bin/
.idea
*.iml

# IntelliJ
out/

# Ignore coverage files
/lib-cov
/src-cov
/coverage.html
/coverage

# nyc (istanbul)
.nyc_output
